{% extends 'blog/base.html' %}

{% block titulo%}About{% endblock %}

{% block header %}
 <!-- Page Header -->
 <header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Paulo Gomes </h1>
          <h2 class="subheading">Tecnólogo em Análise de Sistemas</h2>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}


{% block content %}
<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">Paulo Gomes </h1>
            <div class="subheading mb-5">Rua Agripino Lopes · Campos do Jordão, (12) 991791193·
                <a href="mailto:name@email.com">pasegon@msn.com</a>
            </div>
            <p class="lead mb-5">Eu tenho experiência em vendas e gerenciamento de pessosas, recém formado pelo IFSP de São Paulo na área da Tecnologia da Informação. </p>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experiência</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Papelaria Oya </h3>
                    <div class="subheading mb-3">Comprador </div>
                    <p>Gestão de compras e auxiliar administrativo</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Setembro  1994  - Atual</span>
                </div>
            </div>

                       
        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Formação Acadêmica</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Instituto Federal de São Paulo Campus Campos do Jordão</h3>
                    <div class="subheading mb-3">Tecnologo em Anilise e Desenvolvimento de Sistemas</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Agosto 2014 - Julho 2018</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Instituto Federal de São Paulo Campus Campos do Jordão</h3>
                    <div class="subheading mb-3">Técnico em programação de computadores</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Fevereiro 2010 - Dezembro 2012</span>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Habilidades</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-python"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-php"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-java"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-linux"></i>
                </li>
            </ul>

            <div class="subheavding mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Languages C# e C++</li>
                <li>
                   <li>
                    <i class="fa-li fa fa-check"></i>
                    Mobile-First, Responsive Design</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Functional Teams</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Agile Development &amp; Scrum</li>
            </ul>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5">Interesses</h2>
            <p> Aproveito a maior parte do meu tempo ao ar livre, adoro pescarias sempre com varías pessoas e conversas agradaveis sem pressa de acabar, corridas atletismo para fazer amigos e manutenção do físico .  
            <p class="mb-0">Quando estou  com a famíla odoro os almoços de final de semana</p>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
        <div class="w-100">
            <h2 class="mb-5">Conquistas &amp; Certificações</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    1<sup>st</sup> Competição de Carros Arduinos - IFSP CJO - 2018</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Técnicas de atendimento e vendas - SINCOVAT</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Técnicas de negociação - INTEL </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Integrante da Comissão organizadora da Festa da Cerejeiras em Flor de Campos do Jordão - ENKIO </li>
            </ul>
        </div>
    </section>

</div>
  {% endblock %}
 


